* {
    font-family: 'IBM Plex Mono', monospace;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #111;
    overflow: hidden;
}

.vc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.hc {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.center {
    text-align: center !important;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.chau-particulas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.chau-particulas i,
.chau-particulas i:hover {
    cursor: pointer;
    text-decoration: none;
}

a, a:hover {
    color: #fff;
}