/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #000000;
    font-size: 1.1rem;
    display: flex; /* Set display to flex */
    align-items: center; /* Align items vertically in the middle */
    justify-content: center; /* Center items horizontally */
    min-height: 100vh; /* Set minimum height to 100% of the viewport height */
}

#app {
    text-align: center; /* Center text within the app container */
}

.timer {
    font-size: 3em;
    margin-bottom: 20px;
}
  
#counter {
    position: fixed; /* Fixed position */
    bottom: 10%; /* Positioned at the bottom of the page */
    left: 50%; /* Center the element */
    transform: translateX(-50%); /* Precise centering */
    
  }

#goal {
    position: fixed;
    right: 10%;
    bottom: 10%;
}

button {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000; /* Added border to make button visible */
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}
  
button:hover {
    background-color: #f54b4b;
    color: #ffffff; /* Added text color to make text visible on hover */
}

.timer-active {
    background-color: #ffd4d2; /* You can use any reddish color you prefer */
}

ul {
    list-style-type: none; /* Change to your preferred style */
}

